html{
      background:url('/storage/images/bgimage3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .intro{
    background-color: rgba(26, 26, 26, 0.7);      
      position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      
    }
    body{
      position:relative;

    }
/*html{
      background:url('/storage/images/bgimage_home.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    body{
    position:relative;
    background-color: rgba(26, 26, 26, 0.7);      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    } */